.productos__lista {
  flex-wrap: wrap;
  justify-content: space-around;
}
.productos__button-ver {
  display: none;
}

@media screen and (max-width: 575px) {
  .productos__lista {
    gap: 2rem;
  }
  .productos__items {
    flex: 0 0 90vw;
  }
  .productos__items__img {
    height: 90vw;
  }
}
