#login {
  background-color: #e5e5e5;
  /* display: flex; */
  display: none;
  position: relative;

  height: 30rem;
  overflow: hidden;
  transition: height 0.5s;
}

.login__form {
  width: fit-content;
  margin: 5.75rem auto;
  text-align: center;
}

.login__form-title {
  font-weight: bold;
  color: var(--secondColor);
}

.login__form-items {
  margin-top: 1.5625rem;
  width: 26.4375rem;
  height: 4rem;
}

.login__form-items input {
  width: 100%;
  height: 100%;
  padding: 0 0.75rem;
  border: none;
  border-bottom: 1px solid #c8c8c8;
  background-color: #fff;
}

.login__form-button--submit {
  width: 100%;
  color: #fff;
  font-weight: bold;
  background-color: #2a7ae4;
}

.loader {
  /* El código principal está en base.css */

  /* transform: translate(-50%, -50%); */
}

/* Footer AluraGeek */ /** Footer AluraGeek */

.footer-AluraGeek {
  display: flex;
  justify-content: space-evenly;
  /* color: var(--secondColor); */
  padding: 4rem var(--sidePadding);
  background-color: #eaf2fd;
}

.footer-AluraGeek__form-list {
  list-style: none;
}

.footer-AluraGeek__field {
  position: relative;
  margin: 1rem 0;
}

.footer-AluraGeek__field label {
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;

  /* display: none; */
  color: rgba(0, 0, 0, 0.5);
  font-size: small;
}
.footer-AluraGeek__field input,
.footer-AluraGeek__field textarea {
  padding: 0.5rem;
  padding-top: 1.5rem;
}

/* Footer Developer */ /**/ /* Footer Developer */

.footer-developer {
  text-align: center;
  padding: 2rem;
}
