.productos__listar-categoria {
  text-align: center;
}

.productos__lista {
  /* El css principal está en products.css */
  justify-content: center;
  flex-wrap: wrap;

  overflow: auto;
}

.productos__button--agregar-producto {
  background-color: var(--mainColor);
  color: white;
  border: none;
  padding: 1rem;
  font-weight: bold;
}

.productos__button--ver-mas {
  background-color: var(--mainColor);
  color: white;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
}
.productos__button--ver-menos {
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  width: 100%;
  border: 2px solid var(--mainColor);
  margin-bottom: 1rem;
}

.productos__button-ver:hover {
  /* CSS principal products.css */
  outline: none;
}

.productos__button--ver-mas span {
  /* CSS principal products.css */
  font-size: 2rem;
  top: 0%;
  right: 5px;
}
.productos__button--ver-menos span {
  /* CSS principal products.css */
  font-size: 2rem;
  top: -15%;
  right: 5px;
}

/* -------------------------- */
.productos__items {
  position: relative;
}
.productos__items .js__productos__items__delete {
  position: absolute;
  width: 15%;
  top: 5px;
  right: 5px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}
.productos__items .js__productos__items__delete:hover {
  background-color: rgba(255, 0, 0, 0.6);
  outline: 1px solid white;
  cursor: pointer;
}
.productos__items .js__productos__items__edit {
  position: absolute;
  width: 15%;
  top: 5px;
  right: 20%;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}
.productos__items .js__productos__items__edit:hover {
  background-color: rgba(0, 255, 0, 0.5);
  outline: 1px solid white;
  cursor: pointer;
}

@media screen and (max-width: 575px) {
  .productos__lista {
    gap: 2rem;
  }
  .productos__items {
    flex: 0 0 90vw;
  }
  .productos__items__img {
    height: 90vw;
  }

  .product__item--main-product {
    flex-direction: column;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  }
  .product__img {
    width: 100%;
    /* filter: drop-shadow(); */
  }
  .product__legend {
    width: 100%;
    padding: 1rem;
  }
  .product__title {
    font-size: 2rem;
    text-align: center;
  }
}
