:root {
  --sidePadding: 9rem;
  --mainColor: #2a7ae4;
  --secondColor: #464646;
}

* {
  box-sizing: border-box;
  font-size: 16px; /* asigna a botones, inputs, etc.*/
  font-family: "Raleway", sans-serif; /* asigna a botones, inputs, etc.*/
}

html {
  height: 100vh;
  font-family: "Raleway", sans-serif; /* asigna a h1, h2, etc, p, quote, etc.*/
  font-weight: 400;
}
body {
  min-height: 100%;
}
a {
  text-decoration: none;
}
b {
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  padding: 1rem var(--sidePadding);
}
.nav__busqueda {
  width: 33%;
}
.nav__input-busqueda {
  background-image: url("./public/lupa.svg");
  background-repeat: no-repeat;
  background-size: auto 70%;
  background-position: 95% 50%;

  background-color: #f5f5f5;
  padding: 0.5rem;
  padding-right: 3rem;
  border-radius: 20px;
  border: none;
  width: 100%;
}
.nav__button-login {
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
  background-color: #fff;
  padding: 0.8rem 4rem;
}

/* Header */

.header__banner {
  background-image: url("./public/juegos-de-consola.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: flex-end;
  align-content: flex-end;

  padding: 2rem var(--sidePadding);
  height: 90vh;
}
.header__texto {
  color: #fff;
  width: 100%;
  margin-bottom: 2rem;
  line-height: 3rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}
.header__titulo {
  font-size: 3.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.header__descripcion {
  font-size: 1.375rem;
  font-weight: bold;
}
.header__button-consolas {
  color: #fff;
  background-color: var(--mainColor);
  padding: 1rem;
  border: none;
  transition: text-shadow 0.2s;
}
.header__button-consolas:hover {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* Productos */

.productos {
  color: var(--secondColor);
  padding: 4rem var(--sidePadding);
}
.productos__box-titulo-button {
  display: flex;
  justify-content: space-between;

  margin-bottom: 1rem;
}
.productos__button-ver {
  background-color: transparent;
  color: var(--mainColor);
  border: none;
  position: relative;
  padding: 0.5rem 2.5rem 0.5rem 0.5rem;
  font-weight: bold;
}
.productos__button-ver:hover {
  outline: 1px solid var(--mainColor);
  border-radius: 10px;
}
.productos__button-ver span {
  font-size: 1.5rem;
  font-weight: 500;
  position: absolute;
  right: 5%;
  top: 6%;
}
.productos__titulo {
  font-size: 2rem;
  font-weight: 700;
}
.productos__lista {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;

  padding-bottom: 2rem;
  overflow: scroll;
}

/* seleccionamos a todas las listas menos la ultima*/
.productos__listar-categoria:not(:last-child) {
  margin-bottom: 2rem;
}
.productos__items {
  flex: 0 0 11rem;
  line-height: 1.5rem;
}
.productos__items img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 10.875rem;
}
.productos__nombre {
  font-size: 0.875rem;
  font-weight: 500;
}
.productos__precio,
.productos__detalle {
  font-weight: bold;
}

/* Footer */ /**/ /* Footer */

.footer {
  display: flex;
  justify-content: space-evenly;
  /* color: var(--secondColor); */
  padding: 4rem var(--sidePadding);
  background-color: #eaf2fd;
}

.footer__form-list {
  list-style: none;
}

.footer__field {
  position: relative;
  margin-bottom: 1rem;
}

.footer__field label {
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;

  /* display: none; */
  color: rgba(0, 0, 0, 0.5);
  font-size: small;
}
.footer__field input,
.footer__field textarea {
  padding: 0.5rem;
  padding-top: 1.5rem;
}
