#product {
  padding: 2rem var(--sidePadding);
}

.product__item--main-product {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-bottom: 3rem;
}

.product__img {
  width: 50%;
}

.product__legend {
  flex: 1 1 50%;
}
.product__legend > * {
  margin-bottom: 1rem;
}

.product__title {
  font-size: 3.25rem;
}
.product__price {
  font-weight: bold;
}
.product__paragraph {
  line-height: 1.5;
}

.productos__lista--ver-todo {
  /* El código base se encuentra en products.css */
  flex-wrap: wrap;
  overflow: visible;
  justify-content: space-evenly;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .product__item--main-product {
    flex-direction: column;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  }
  .product__img {
    width: 100%;
    /* filter: drop-shadow(); */
  }
  .product__legend {
    width: 100%;
    padding: 1rem;
  }
  .product__title {
    font-size: 2rem;
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  .productos__lista {
    gap: 2rem;
  }
  .productos__items {
    flex: 0 0 90vw;
  }
  .productos__items__img {
    height: 90vw;
  }

  .product__item--main-product {
    flex-direction: column;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  }
  .product__img {
    width: 100%;
    /* filter: drop-shadow(); */
  }
  .product__legend {
    width: 100%;
    padding: 1rem;
  }
  .product__title {
    font-size: 2rem;
    text-align: center;
  }
}
